@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



/* resetando as bordas da página do html. O " * " pega todo o o html */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container{
    max-width: 1080; /*tamanho da faixa*/
    margin: 0 auto;
    display: flex; /**/
    align-items: center; /*alinhamento dos itens com relação a eles*/
    justify-content: center; /*alinhamento ao centro do max-width*/
}

header{
    background-color: black;
    width: 100%; /*porcetagem da barra que ficará em preto*/ 
    padding: 5px; /*tamanho da altura */
}

/*Determinar cada seção do Header*/

.logo, .sociais{
    width: 25%; /*posição do logo*/
}

.logo img{

    width: 100px;
    cursor: pointer;
}

.menu{
    width: 50%;
}

.menu nav a{
    color:rgb(255, 255, 255); /*cor da fonte do "home, blog, contato*/
    text-decoration: none; /*retira do sublinhado*/
    padding-right: 50px; /*afastar um do outro */
    font-size: 18px;
    position: relative; /*posição relative - usado com o menu nav a::after*/
}

.menu nav a::after { /*efeito de barra qdo passa o mouse no menu*/
    content: " ";
    width: 0px; /*comprimento*/
    height: 5px; /*altura*/
    background-image: linear-gradient(45deg,#ff2500,  rgb(255, 186, 136));
    position: absolute;
    top:30px;
    left: 0;
    transition: width 0.5s; /*transição da barra vai levar 0.5s*/
}

.menu nav a:hover::after{/*animação da barra de menu*/
    width: 50px; /*tamanho da barra de transição*/
}  

.sociais button{
    width: 30px;
    height: 30px;
    background-image: linear-gradient(45deg,#ff2500, rgb(255, 186, 136));
    border: none; /*sem borda no ícone*/
    margin-right: 10px; /*espaçamento entre os ícones*/
    border-radius: 8px; /*arredondar borda*/
    cursor: pointer;
}

.sociais button i{
    font-size: 20px;
    color: white;
    
}


